<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789543349484-5sg9ulfs5mdc369tqj3nckg92v674in0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789543349484-5sg9ulfs5mdc369tqj3nckg92v674in0</string>
	<key>API_KEY</key>
	<string>AIzaSyCy-UsN-a2_QVgym8HvMbw-kN4VfDsvBAU</string>
	<key>GCM_SENDER_ID</key>
	<string>789543349484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastcampus.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-51308</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-51308.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789543349484:ios:b876d792ef7f0ffaadc9c9</string>
</dict>
</plist>